<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css"  rel="stylesheet" />
    <title>EJERCICIO4</title>
</head>
<body>
    <div class="container">
        <img src="img/imagen.jpg" alt="imagen" class="imagen">
        <div class="item-2"><h1>Title</h1> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio doloremque 
            itaque velit culpa minus, reiciendis quasi officiis vitae? Laborum similique eaque voluptate consequuntur, 
            voluptatem quae doloremque totam delectus quod adipisci.</p>
        <p style="text-align: end; font-weight: bolder;">Published: <span style="color:forestgreen ;">March 20, 2020</span></p></div>
        <div class="item-3"><button>More Info</button></div>
    </div>
</body>
</html>