<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css"  rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container-1"> 
        <div class="box base"><span class="color-box-text">base</span></div> 
        <div class="box important"><span class="color-box-text">Important</span></div> 
        <div class="box warning"><span class="color-box-text">Warning</span></div> 
        <div class="box principal"><span class="color-box-text">Principal Font <br> Secondary font</span></div> 
        <div class="box shad"><span class="color-box-text">Box with shadow</span></div> 
    </div>
</body>
</html>