<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css"  rel="stylesheet" />
    <title>EJERCICIO 3</title>
</head>
<body>
    <h1>Lemoncode</h1>
    <div class="container">
        <div class="elemento">Home</div>
        <div class="elemento">Blog</div>
        <div class="elemento">Activities</div>
        <div class="elemento">About me</div>
    </div>
</body>
</html>